.nav {
  padding: 30px;

}

.btn-edit{
  margin-top: 11px;
}
.saleTable {
  overflow-x: scroll;
  padding: 0;
}
#calculationContainer {
  margin: 15px;
}
.addLine{
  margin-top: 10px;
}
.delBtn {
  padding-left: 0;
}
.add-offer {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#search-bar {
  width: 100%;
  margin-left: 75px;
  margin-top:15px;
}

.btn-search-cont{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-search{
  margin-right: 75px;
}

.nav-item {
  display: flex;
  align-items: center;
}

.home {
  font-size: x-large;
}

.title {
  margin:20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer_card {
  width: 75%;
  margin: 25px auto;
}

.card-header {
  font-size: x-large;
}

.form-label {
  margin-top: 15px
}

.btn-primary {
  margin-top: 15px;
}


.btn-add-offer {
  margin-right: 75px;
  margin-top: 0;
}

.message-form, #offer-card {
  width: 75%;
  margin: 30px auto;
}

.filter-message{
  width: 200px;
  margin-left: 75px;
}

.row-cacl {
  margin: 10px;

}

.container-cacl{
  width: 50%
}

.btn-cacl{
  margin: 15px;
}

.buttons{
  display: flex;
  justify-content: center;
}

.result{
  display: flex;
  justify-content: center;
}

.filter {
  width: 100px;
  margin-left: 75px
}

.filter-form{
  width:70%
}

.f-grey{
  color: rgb(116, 116, 116);
}

.card-info{
  margin:10px
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.message{
  margin-top: 20%;
  width: 50%;
  font-size: 40px;
  text-align: center;
}

.login-title .login-form{
  display: block;
}

.login-title{
  text-align: center;
}

.login-form-actual{
  width: 50%;
  margin: 0 auto;
}

.buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .a-edit{
 float: left;
 clear: none;
} */


#timeline{
  display: flex;
  justify-content: center;
  margin: 25px;
}

.mobile-nav{
  display: none;
}

#pagination {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .message-form{
    width:90%
  }

  .filter-message{
    margin-left: 5%;
  }

  #search-bar {
    width: 100%;
    margin-left: 10px;
    margin-top:15px;
  }
  
  .btn-search-cont{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .btn-search{
    margin-right: 10px;
  }

  .mobile-nav{
    display: block
  }

  .desktop-nav{
    display: none
  }

  .message {
    width: 80%
  }

  .filter{
    margin-left: 10px;
  }

  .filter-form{
    width: 100%;
  }
  
  .btn-add-offer {
    margin-right: 0px;
  }

  .add-link{
    padding-right: 10px;
  }
  .card-info{
    margin: 10px 0 ;
  }

  .col-6 {
    padding: 5
  }

  .offer-complete{
    position: relative;
    left: -77px;
  }

  .offer_card{
    width: 90%;
  }
  html{
    overflow-x: hidden;
  }

  body, html {
    overflow-x: hidden;
  }
}